/* queries */

@media screen and (max-width:600px){
    
    
    nav ul li{
        margin-top: 10%;
        margin-left: 10%;
        width: 20%;
        display: flex;
        flex-direction: row;
    }

    #listaemail #email{
        margin-right: -60%;
        margin-top: 6%;
        width: 300px;
        font-size: 10px;

    }

    #listaemail{
        margin-left: 30%;
        margin-top: 6%;

   }
    
    
    #presentacion h1{
        font-size: 30px;
        margin-left: 8%;
    }
    #presentacion h4{
        width: 70%;
        font-size: 16px;
        margin-right: 0;
        margin-left: 8%;
        margin-top: 3%;
    }

    #presentacion img{
        width:250px;
        margin-top: 10%;
        margin-left: -40%;
    }

    #habilidades{
        padding-top: 60%;
    }

    #habilidades_lista{
        display: flex;
        flex-direction: column;
    }
    #habilidades_reactjs{
        margin-top: 10%;
    }
    #habilidades_php{
        margin-top: 10%;
    }
    #habilidades_seo{
        margin-top: 10%;
    }

    #habilidades_reactjs .parrafo{
        margin-left: 0%;
    }

    #habilidades_php .parrafo{
        margin-left: 0%;
    }

    #habilidades_seo .parrafo{
        margin-left: 0%;
    }

    #experiencia a{
        margin-left: 30%;
    }
    #experiencia_primerafila{
        display: flex;
        flex-direction: column;
    }
    #experiencia_segundafila{
        display: flex;
        flex-direction: column;
    }
    #experiencia_trabajo1, #experiencia_trabajo2, #experiencia_trabajo3, #experiencia_trabajo4, #experiencia_trabajo5, #experiencia_trabajo6 {
        width: 100%;
        margin-right: 15%;
    }
    #moreinfo{
        font-size: 20px;
    }
    #correo{
        font-size: 20px;
    }
}

@media screen and (min-width:700px) and (max-width:900px){
    
    

   
    nav ul li{
        margin-top: 8%;
        margin-left: 5%;
        width: 20%;
        display: flex;
        flex-direction: row;
    }
    nav ul li #logo{
        font-size: 40px;
        
    }
    #listaemail #email{
        margin-right: -50%;
        margin-top: 6%;
        width: 300px;
        font-size: 30px;

    }

    #listaemail{
        margin-left: 40%;
        margin-top: 6%;

   }
    
    
    #presentacion h1{
        font-size: 60px;
        margin-left: 8%;
    }
    #presentacion h4{
        width: 70%;
        font-size: 36px;
        margin-right: 0;
        margin-left: 8%;
        margin-top: 3%;
    }

    #presentacion img{
        width:450px;
        margin-top: 23%;
        margin-left: -30%;
    }

    #habilidades{
        padding-top: 60%;
    }
    #habilidades h3{
        margin-left: -10%;
    }
    #habilidades_lista{
        display: flex;
        flex-direction: column;
    }
    #habilidades_reactjs p{
        margin-top: 10%;
        font-size: 45px;
    }
    #habilidades_php p{
        margin-top: 10%;
        font-size: 45px;
    }
    #habilidades_seo p{
        margin-top: 10%;
        font-size: 45px;
    }

    #habilidades_reactjs .parrafo{
        margin-left: 0%;
        font-size: 35px;
    }

    #habilidades_php .parrafo{
        margin-left: 0%;
        font-size: 35px;
    }

    #habilidades_seo .parrafo{
        margin-left: 0%;
        font-size: 35px;
    }

    #experiencia a{
        margin-left: 30%;
    }
    #experiencia_primerafila{
        display: flex;
        flex-direction: column;
    }
    #experiencia_segundafila{
        display: flex;
        flex-direction: column;
    }
    #experiencia_trabajo1, #experiencia_trabajo2, #experiencia_trabajo3, #experiencia_trabajo4, #experiencia_trabajo5, #experiencia_trabajo6 {
        width: 100%;
        margin-right: 15%;
    }
    #experiencia_trabajo1 img{
        width:80%;
        height: 30%;
    }
    #experiencia_trabajo1 .parrafo, #experiencia_trabajo1 p{
        font-size: 30px;
    }
    #experiencia_trabajo2 .parrafo, #experiencia_trabajo2 p{
        font-size: 30px;
    }
    #experiencia_trabajo2 img{
        width:80%;
        height: 30%;
    }
    #experiencia_trabajo3 .parrafo, #experiencia_trabajo3 p{
        font-size: 30px;
    }
    #experiencia_trabajo3 img{
        width:80%;
        height: 30%;
    }
    #experiencia_trabajo4 .parrafo, #experiencia_trabajo4 p{
        font-size: 30px;
    }

    #experiencia_trabajo4 img{
        width:80%;
        height: 30%;
    }
    #experiencia_trabajo5 .parrafo, #experiencia_trabajo5 p{
        font-size: 30px;
    }

    #experiencia_trabajo5 img{
        width:80%;
        height: 30%;
    }
    #experiencia_trabajo6 .parrafo, #experiencia_trabajo6 p{
        font-size: 30px;
    }
    #experiencia_trabajo6 img{
        width:80%;
        height: 30%;
    }
    #moreinfo{
        font-size: 50px;
    }
    #correo{
        font-size: 50px;
    }